In [1]:
import pandas as pd, geopandas as gpd, xarray as xr, numpy as np
print("imports ok")

imports ok

In [10]:
# importing the main libraries i need
# pandas for dataframes, zipfile for opening .zip folders, and pathlib for easy folder paths
import pandas as pd
import zipfile
from pathlib import Path
# direct path to the folder where the zip files actually are
raw = Path(r"C:\Users\venus\OneDrive\Documents\GitHub\Climate-Malnutrition-EastAfrica\data_raw\DHS_zip")

# just double check it can see the files
print("raw folder:", raw.resolve())
print("files it can see:", [f.name for f in raw.glob("*.zip")][:10])

raw folder: C:\Users\venus\OneDrive\Documents\GitHub\Climate-Malnutrition-EastAfrica\data_raw\DHS_zip
files it can see: ['ETKR41DT.zip', 'ETKR51DT.zip', 'ETKR61DT.zip', 'ETKR71DT.zip', 'ETKR81DT.zip', 'KEKR01DT.zip', 'KEKR31DT.zip', 'KEKR3ADT.zip', 'KEKR42DT.zip', 'KEKR52DT.zip']

In [12]:
# i just want to see if python can actually find all my DHS zip files
# this helps confirm that my folder is in the right spot
zips = sorted(raw.glob("*.zip"))

# checking how many it found + printing the first few so i know what they look like
len(zips), [z.name for z in zips[:5]]

(25,
 ['ETKR41DT.zip',
  'ETKR51DT.zip',
  'ETKR61DT.zip',
  'ETKR71DT.zip',
  'ETKR81DT.zip'])

In [14]:
# my zips live here
from pathlib import Path
import zipfile

raw = Path(r"C:\Users\venus\OneDrive\Documents\GitHub\Climate-Malnutrition-EastAfrica\data_raw\DHS_zip")

# i want all extracted files to go into data_raw\unzipped
out_root = raw.parent / "unzipped"
out_root.mkdir(parents=True, exist_ok=True)

print("zip folder:", raw)
print("unzipped folder:", out_root)

zip folder: C:\Users\venus\OneDrive\Documents\GitHub\Climate-Malnutrition-EastAfrica\data_raw\DHS_zip
unzipped folder: C:\Users\venus\OneDrive\Documents\GitHub\Climate-Malnutrition-EastAfrica\data_raw\unzipped

In [16]:
# this will extract each zip into data_raw\unzipped\<zip_stem>
# keeping it very readable
zips = sorted(raw.glob("*.zip"))
count = 0

for zpath in zips:
    dest = out_root / zpath.stem
    dest.mkdir(parents=True, exist_ok=True)
    with zipfile.ZipFile(zpath) as zf:
        zf.extractall(dest)
    count += 1
    print("extracted:", zpath.name, "->", dest.name)

print("done. total extracted:", count)

extracted: ETKR41DT.zip -> ETKR41DT
extracted: ETKR51DT.zip -> ETKR51DT
extracted: ETKR61DT.zip -> ETKR61DT
extracted: ETKR71DT.zip -> ETKR71DT
extracted: ETKR81DT.zip -> ETKR81DT
extracted: KEKR01DT.zip -> KEKR01DT
extracted: KEKR31DT.zip -> KEKR31DT
extracted: KEKR3ADT.zip -> KEKR3ADT
extracted: KEKR42DT.zip -> KEKR42DT
extracted: KEKR52DT.zip -> KEKR52DT
extracted: KEKR72DT.zip -> KEKR72DT
extracted: KEKR8CDT.zip -> KEKR8CDT
extracted: TZKR21DT.zip -> TZKR21DT
extracted: TZKR3ADT.zip -> TZKR3ADT
extracted: TZKR41DT.zip -> TZKR41DT
extracted: TZKR4IDT.zip -> TZKR4IDT
extracted: TZKR63DT.zip -> TZKR63DT
extracted: TZKR7BDT.zip -> TZKR7BDT
extracted: TZKR82DT.zip -> TZKR82DT
extracted: UGKR01DT.zip -> UGKR01DT
extracted: UGKR33DT.zip -> UGKR33DT
extracted: UGKR41DT.zip -> UGKR41DT
extracted: UGKR52DT.zip -> UGKR52DT
extracted: UGKR61DT.zip -> UGKR61DT
extracted: UGKR7BDT.zip -> UGKR7BDT
done. total extracted: 25

In [18]:
# i want a small table that shows each folder, how many files, and a few example names
import pandas as pd

rows = []
for folder in sorted(p for p in out_root.iterdir() if p.is_dir()):
    files = sorted(folder.glob("*"))
    rows.append({
        "folder": folder.name,
        "num_files": len(files),
        "examples": ", ".join([f.name for f in files[:5]])
    })

idx = pd.DataFrame(rows)
idx.head(15)

      folder  num_files                                           examples
0   ETKR41DT          4  ETKR41FL.DTA, ETKR41FL.FRQ, ETKR41FL.FRW, ETKR...
1   ETKR51DT          4  ETKR51FL.DTA, ETKR51FL.FRQ, ETKR51FL.FRW, ETKR...
2   ETKR61DT          4  ETKR61FL.DTA, ETKR61FL.FRQ, ETKR61FL.FRW, ETKR...
3   ETKR71DT          6  ETKR71FL.DCT, ETKR71FL.DO, ETKR71FL.DTA, ETKR7...
4   ETKR81DT          6  ETKR81FL.DCT, ETKR81FL.DO, ETKR81FL.DTA, ETKR8...
5   KEKR01DT          5  KEKR01FL.DOC, KEKR01FL.DTA, KEKR01FL.FRQ, KEKR...
6   KEKR31DT          5  KEKR31FL.DOC, KEKR31FL.DTA, KEKR31FL.FRQ, KEKR...
7   KEKR3ADT          4  KEKR3AFL.DTA, KEKR3AFL.FRQ, KEKR3AFL.FRW, KEKR...
8   KEKR42DT          4  KEKR42FL.DTA, KEKR42FL.FRQ, KEKR42FL.FRW, KEKR...
9   KEKR52DT          4  KEKR52FL.DTA, KEKR52FL.FRQ, KEKR52FL.FRW, KEKR...
10  KEKR72DT          6  KEKR72FL.DCT, KEKR72FL.DO, KEKR72FL.DTA, KEKR7...
11  KEKR8CDT          6  KEKR8CFL.DCT, KEKR8CFL.DO, KEKR8CFL.DTA, KEKR8...
12  TZKR21DT          5  TZKR21FL.DOC, TZKR21FL.DTA, TZKR21FL.FRQ, TZKR...
13  TZKR3ADT          5  TZKR3AFL.DOC, TZKR3AFL.DTA, TZKR3AFL.FRQ, TZKR...
14  TZKR41DT          4  TZKR41FL.DTA, TZKR41FL.FRQ, TZKR41FL.FRW, TZKR...

In [20]:
docs = Path(r"C:\Users\venus\OneDrive\Documents\GitHub\Climate-Malnutrition-EastAfrica\docs")
docs.mkdir(parents=True, exist_ok=True)

out_csv = docs / "dhs_zip_index.csv"
idx.to_csv(out_csv, index=False)
print("wrote:", out_csv)

wrote: C:\Users\venus\OneDrive\Documents\GitHub\Climate-Malnutrition-EastAfrica\docs\dhs_zip_index.csv

In [22]:
# i will open the first .dta it finds so i can see real raw columns
# if there is no .dta in that folder, i will try a .sav
first_folder = sorted(p for p in out_root.iterdir() if p.is_dir())[0]

dta_files = sorted(first_folder.glob("*.dta"))
sav_files = sorted(first_folder.glob("*.sav"))

if len(dta_files) > 0:
    f = dta_files[0]
    print("reading stata file:", f.name)
    df = pd.read_stata(f)
    display(df.shape)
    display(df.head())
elif len(sav_files) > 0:
    try:
        import pyreadstat
    except ImportError:
        raise SystemExit("Install pyreadstat first with: conda install pyreadstat -c conda-forge")
    f = sav_files[0]
    print("reading spss file:", f.name)
    df, meta = pyreadstat.read_sav(f)
    display(df.shape)
    display(df.head())
else:
    print("no .dta or .sav found in:", first_folder.name)

reading stata file: ETKR41FL.DTA

(10873, 881)

,caseid,v000,v001,v002,v003,v004,v005,v006,v007,v008,...,s406ba,s406bb,s406bc,s406bd,s406be,s406bx,s432c,s440a,s442a,s475c
0,1 17 2,ET4,1,17,2,1,768315,9,1992,1113,...,no,no,no,no,no,no,112.0,yes,NaN,NaN
1,1 33 2,ET4,1,33,2,1,768315,9,1992,1113,...,no,no,no,no,no,no,112.0,no,NaN,NaN
2,1 33 2,ET4,1,33,2,1,768315,9,1992,1113,...,no,no,no,no,no,no,NaN,no,NaN,NaN
3,1 37 2,ET4,1,37,2,1,768315,9,1992,1113,...,no,no,no,no,no,no,112.0,yes,NaN,NaN
4,1 37 2,ET4,1,37,2,1,768315,9,1992,1113,...,no,no,no,no,no,no,NaN,no,NaN,NaN

In [24]:
# notes to self
# i can now see all raw files unzipped in data_raw\unzipped
# the index csv shows folder names and sample files so i can navigate faster
# next i will decide which file types i care about most PR IR KR HR
# then i can load just a few columns to compare across years and countries
print("✅ raw DHS files explored. stopping here for now.")

✅ raw DHS files explored. stopping here for now.

In [26]:
# number of missing values per column (only first 15 shown)
df.isna().sum().head(15)

caseid    0
v000      0
v001      0
v002      0
v003      0
v004      0
v005      0
v006      0
v007      0
v008      0
v009      0
v010      0
v011      0
v012      0
v013      0
dtype: int64

In [28]:
# quick look at numeric columns only
df.describe()

,v001,v002,v003,v004,v005,v006,v007,v008,v009,v010,...,s227cg,s230ac,s230acg,s230f,s234c,s508cg,s1114m,idx92,s215cg,idx94
count,10873.000000,10873.000000,10873.000000,10873.000000,1.087300e+04,10873.000000,10873.0,10873.000000,10873.000000,10873.000000,...,1309.000000,1595.000000,1595.000000,76.000000,7171.000000,10800.000000,10827.000000,10873.000000,10873.000000,10873.000000
mean,247.932585,95.003495,2.177412,247.932585,1.127580e+06,7.428585,1992.0,1111.428585,6.218063,1962.202888,...,1197.996180,1032.527900,1124.527900,1.302632,5.983963,1044.162500,26.778424,1.379564,1088.154603,1.379564
std,146.116041,71.223575,1.225149,146.116041,9.854398e+05,1.088724,0.0,1.088724,3.427076,7.002013,...,2.427698,68.726001,68.726001,0.673691,15.540872,90.445793,17.469087,0.579460,86.582694,0.579460
min,1.000000,1.000000,1.000000,1.000000,1.055500e+04,6.000000,1992.0,1110.000000,1.000000,1942.000000,...,1192.000000,771.000000,863.000000,1.000000,1.000000,741.000000,0.000000,1.000000,761.000000,1.000000
25%,128.000000,37.000000,2.000000,128.000000,1.696630e+05,6.000000,1992.0,1110.000000,3.000000,1957.000000,...,1196.000000,994.000000,1086.000000,1.000000,2.000000,980.000000,10.000000,1.000000,1029.000000,1.000000
50%,236.000000,83.000000,2.000000,236.000000,1.086851e+06,7.000000,1992.0,1111.000000,6.000000,1963.000000,...,1198.000000,1051.000000,1143.000000,1.000000,3.000000,1056.000000,30.000000,1.000000,1105.000000,1.000000
75%,363.000000,139.000000,2.000000,363.000000,1.962801e+06,8.000000,1992.0,1112.000000,9.000000,1967.000000,...,1200.000000,1087.500000,1179.500000,1.000000,5.000000,1119.000000,40.000000,2.000000,1162.000000,2.000000
max,540.000000,521.000000,15.000000,540.000000,5.201657e+06,10.000000,1992.0,1114.000000,12.000000,1977.000000,...,1204.000000,1116.000000,1208.000000,4.000000,98.000000,1204.000000,59.000000,5.000000,1205.000000,5.000000